---
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  data: CollectionEntry<"posts">["data"],
  slug: string,
}

const { data, slug } = Astro.props;

---

<div class="prose">
  <div class="title">
    <div class="date">
      <FormattedDate date={data.date} />
    </div>
    <a href=`/posts/${slug}`>
    <h1>{data.title}</h1>
    </a>
    <div class="tags">
      {data.tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </div>
</div>
