---
interface Props {
  tag: string;
  count: number | undefined;
}
const { tag, count= undefined } = Astro.props;
---

{
  count == null ? (
    <a role="button" class="btn btn-xs" href={`/tags/${tag}`}>
      {tag}
    </a>
  ) : (
    <a role="button" class="btn btn-xs" href={`/tags/${tag}`}>
      {tag}
      <div class="badge">{count}</div>
    </a>
  )
}
