---
import type { CollectionEntry } from "astro:content";
import PostDate from "./PostDate.astro";
import PostTags from "./PostTags.astro";

interface Props {
  slug?: string;
  data: CollectionEntry<"posts">["data"];
}
const { slug = undefined, data } = Astro.props;
---

<h2 class="card-title">
  <a href={slug ? `/posts/${slug}/` : ""}>
    {data.title}
  </a>
</h2>
<PostDate date={data.date} />
{
  data.updatedDate && (
    <div class="last-updated-on">
      Last updated on <PostDate date={data.updatedDate} />
    </div>
  )
}
{data.tags && <PostTags tags={data.tags} />}
